@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    overflow-X: hidden;
}

body {
    background: linear-gradient(to bottom left, white 0%, rgb(105, 79, 40) 100%)
}

::-webkit-scrollbar {
    width: 0.75vw;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 1px 0 5px grey;
    border-radius: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 181, 163);
    border-radius: 1px;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    z-index: 10;
    width: 100%;
}

.navbar p {
    color: rgb(210, 201, 186);
    padding-left: 1%;
    padding-top: 1%;
    font-size: 2vh;  
    cursor: default;
    font-family: 'Bangers', cursive;
}

.navbar-buttons {
    padding-right: 1%;
    padding-top: 1%;
}

.navbar-buttons button {
    font-size: 4vh;
    font-family: inherit;
    background: none;
    color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(210, 201, 186);
}

.navbar a:hover {
    opacity: 0.60;
}

.main-img {
    width: 100%;
    display: inline;
    height: 80vh;
    object-fit: cover;
    z-index: -5;
    filter: brightness(20%);
    border-bottom-right-radius: 40vw;
}

.main-section {
    position: relative;
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.55);
    border-bottom-right-radius: 40vw;
    background-color: rgba(0,0,0, 0.55);
}

.main-text {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 85%;
}

.main-text h1 {
    font-size: 14vh;  
    font-weight: 300;
    cursor: default;
    color: rgb(210, 201, 186);
    font-family: 'Bangers', cursive;
}

.main-text h3 {
    font-size: 6vh;
    font-weight: 200;
    cursor: default;
    color: rgb(210, 201, 186);
    font-family: 'Bangers', cursive;
}

.snippets {
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: space-around;
}

.snippet {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 30%;
    height: 92%;
    border-radius: 3vw;
    margin-top: -2.5%;
    z-index: 10;
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.25);
    text-align: center;
    filter: brightness(110%);
}

.snippet .fa-solid {
    font-size: 8vh;
    margin-top: 1%;
    color: rgb(93, 77, 63);
    filter: brightness(120%);
    margin-top: 5%;
}

.snippet p {
    margin: 2%;
    font-size: 3vh;
    padding: 1vh;
    color: darkslategray;
    cursor: default;
    font-family: 'Bangers', cursive;
}

.snippet:nth-child(2) {
    margin-top: -5%;
}


.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-top: 3vh solid;
    border-bottom: 3vh solid;
    border-image-source: linear-gradient(to right, transparent 0%, rgb(146, 108, 76) 50%, transparent 100%);
    border-image-slice: 1;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
}

.profile-img-container {
    /* margin-top: 2.75%; */
    width: 59%;
    display: flex;
}

.profile-img {
    width: 70%;
    height: 65vh;
    object-fit: cover;
    border-radius: 15%;
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.25);
}

.list-heading {
    text-align: center;
    font-size: 4vh;
    background-color: rgb(192, 181, 163);
    border-radius: 1vw;
    padding: 0.5vw;
    margin-left: 3%;
    cursor: default;
}

.profile-list {
    width: auto
}

.profile-list li {
    list-style: none;
    text-align: center;
    font-size: 4vh;
    margin-top: 14%;
    margin-right: 12%;
}

.profile-list li:hover {
    cursor: pointer;  
    filter: brightness(130%);
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.25);
    border-radius: 1vw;
}

.skills-container {
    width: 40%;
    /* margin-top: 2.75%; */
    border-radius: 5%;
    height: 75vh;
}

.active {
    animation: visible 1.5s;
    animation-fill-mode: forwards;
}

.inactive {
    display: none;
}

.BG {
    background-color: rgb(192, 181, 163);
    border-radius: 1vw;
    filter: brightness(120%);
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.25);
}

.section {
    margin: 5%;
    font-size: 2vw;
    text-align: center;
}

.skills-text {
    margin-top: 3%;
    cursor: default;
}

.skills-header {
    background-color: rgb(192, 181, 163);
    border-radius: 1vw;
}

.testimonials-div-with-heading {
    width: 85%;
    margin: 0 auto;
}

.testimonials-div-with-heading-text {
    font-size: 6.5vh;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    background: linear-gradient(to right, transparent 0%, black 50%, transparent 100%); 
    color:rgb(192, 181, 163);
    cursor: default;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
}

.testimonials {
    background: linear-gradient(to right, transparent 0%, rgb(192, 181, 163) 50%, transparent 100%);
    width: 85%;
    min-height: 25vh;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    gap: 3%;
}

.testimonials-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.testimonials-img {
    border-radius: 50%;
    width: 50%;
    height: auto;
}

.testimonials-name {
    font-size: 2.6vh;
    font-weight: bold;
    cursor: default;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
}

.testimonials-quote {
    color: black;
    font-style: italic;
    font-size: 2vh;
    cursor: default;
}

.footer {
    border-top: 1vh solid;
    border-bottom: 1vh solid;
    border-image-source: linear-gradient(to right, transparent 0%, rgb(179, 168, 152) 50%, transparent 100%);
    border-image-slice: 1;
    margin: 0 auto;
    width: 90%;
    background: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
    min-height: 60vh;
    color: rgb(192, 181, 163);
}

.projects-demonstration-text {
    text-align: center;
    font-size: 7vh;
    cursor: default;
    font-family: 'Bangers', cursive;
    margin-top: 1%;
}

.projects-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-span-left, .footer-span-right {
    font-size: 8vw;
    cursor: default;
}

.footer-span-left .fa-solid, .footer-span-right .fa-solid {
    border: double black 5px;
    border-radius: 50%;
    color: white;
}

.footer-span-left:hover, .footer-span-right:hover {
    scale: 1.1;
    cursor: pointer;
    opacity: 0.7;
}

.project-preview-container {
    width: 75%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.project-preview {
    margin-top: 3%;
    object-fit: cover;
    min-height: 50vh;
    min-width: 25vw;
    padding-bottom: 2vh;
    border-radius: 1vw;
}

.project-preview:hover {
    opacity: 0.75;
    cursor: pointer;
}

.project-description {
    padding: 0.35vh;
    text-align: center;
    font-size: 2vh;
    max-width: 10vw;
    cursor: default;
}

.modal {
    position: absolute;
    left: 50%;
    top: 275%;
    transform: translate(-50%, -50%);
    width: 65%;
    border-radius: 1vh;
    box-shadow: 0 8px 0 0px var(--light-mode-shadow);
    text-align: center;
    border: 5px solid rgb(179, 168, 152);
    font-family: 'Bangers', cursive;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.65);
  }

.close-button {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.5em;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.close-button:hover, close-button:focus {
    opacity: 0.75;
}


@keyframes visible {
    0% {
        opacity: 0%
    }
    1% {
        opacity: 1%;

    }
    100% {
        opacity: 100%;
        display: block;
    }
}

@media screen and (max-width: 560px) {
    .navbar p {
        font-size: 2vw;  
    }
    .main-text {
        width: 85%;
        top: 48%;
    }
    .main-text h1 {
        font-size: 7vw;
    }
    .main-text h3 {
        font-size: 3vw;
    }
    .main-img {
        height: 45vh;
    }
    .snippets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8vh;
        margin-top: 27.5vh;
    }
    .snippet {
        width: 75%;
        min-height: 30vh;
    }

    .info-section {
        margin-top: 40vh;
        flex-direction: column;
        flex-wrap: wrap;
        width: 99%;
        gap: 5%;
        padding: 2vw 0;
    }
  
    .profile-list li, .list-heading {
        font-size: 3vw;
    }
    .profile-img {
        margin: auto;
        width: 40%;
        height: 35vh;
    }
    .list-div {
        width: 40%;
    }
    .profile-img-container {
        width: 100%;
        justify-content: center;
    }
    .skills-container {
        width: 100%;
        height: 30vh;
    }
    .section {
        font-size: 3vw;
    }
    .testimonials-div-with-heading-text {
        font-size: 3.5vw;
    }
    .testimonials {
        width: 100%;
        flex-wrap: wrap;
    }
    .testimonials-name, .testimonials-quote {
        font-size: 2.4vw;
    }
   
    .testimonials-img {
        border-radius: 50%;
        width: 50%;
        height: auto;
    }
    .projects-demonstration-text {
        font-size: 5vw;
    }
}