@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Old+Standard+TT&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    font-family: 'Alegreya Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    z-index: 10;
    width: 100%;
}

.navbar p {
    color: #fff;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 4vh;
}

.navbar-buttons {
    padding-right: 1%;
    padding-top: 1%;
}

.navbar-buttons button {
    font-size: 4vh;
    font-family: inherit;
}

.main-img {
    width: 100%;
    display: inline;
    height: 80vh;
    object-fit: cover;
    z-index: -5;
    filter: brightness(40%);
    border-bottom-right-radius: 40vw;
}

.main-section {
    position: relative;
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.55);
    border-bottom-right-radius: 40vw;
    background-color: rgba(0,0,0, 0.55);
}

.main-text {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 65%;
}

.main-text h1 {
    font-size: 10vh;  
    font-weight: 300;
    animation: main-text 1.5s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(1000%)
}

.main-text h3 {
    font-size: 5vh;
    font-weight: 200;
    animation: main-text 1.5s ease-in 0.75s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(1000%)
}

.snippets {
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: space-around;
}

.snippet {
    background-color: #fff;
    width: 28%;
    height: 90%;
    border-radius: 5%;
    margin-top: -2.5%;
    z-index: 10;
    box-shadow: 0.5vh 0.5vh 2vh 1vh rgba(0,0,0, 0.25)
}

.snippet:nth-child(1) {
    animation: snippet-left 1.5s ease-in-out 0.25s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-500%)
}

.snippet:nth-child(3) {
    animation: snippet-right 1.5s ease-in-out 0.25s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(500%)
}

.snippet:nth-child(2) {
    margin-top: -5%;
    animation: snippet-mid 1.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-1000%)
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img-container {
    margin-top: 5%;
    width: 59%;
    display: flex;
}

.profile-img {
    width: 80%;
    height: 75vh;
    object-fit: cover;
    border-radius: 15%;
}

.list-heading {
    text-align: center;
    font-size: 4vh;
}

.profile-list {
    width: auto
}

.profile-list li {
    list-style: none;
    text-align: center;
    font-size: 4vh;
    margin-top: 15%;
    margin-right: 15%;
}

.profile-list li:hover {
    cursor: pointer;   
}

.skills-container {
    width: 40%;
    margin-top: 5%;
    border: black 5px solid;
    border-radius: 5%;
    height: 75vh;
}



/* ANIMATIONS */

@keyframes main-text {
    0% {
        opacity: 0;
        transform: translateY(1000%)
    }
    50% {
        opacity: 0.1;
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes snippet-left {
    0% {
        opacity: 0;
        transform: translateX(-500%)
    }
    50% {
        opacity: 0.1;
        transform: translateX(-100%)
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes snippet-right {
    0% {
        opacity: 0;
        transform: translateX(500%)
    }
    50% {
        opacity: 0.1;
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes snippet-mid {
    0% {
        opacity: 0;
        transform: translateY(1000%)
    }
    50% {
        opacity: 0.1;
        transform: translateY(75%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

/* ANIMATIONS END */